<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.canceraide.mylibrary">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application>
        <activity
            android:name=".exception.ExceptionActivity"
            android:process=":exception"
            android:screenOrientation="portrait" />

        <service android:name=".net.download.DownloadService" />
    </application>

</manifest>
